@media screen and (max-width:992px) {
    #level2{
        width: 85%;
    }
    #level2 li{
        font-size: 16px !important;
        text-align: center;

    }
    #checkbox{
        width: 60%;
    }
    #paragraph{
        width: 67%;
    }
    #footer-img{
        width: 55%;
    }
    footer ul{
        width: 60%;
    }
    form .seperator{
        width: 80%;

    }
    form label{
     color: #00395d;
    }
}
@media screen and (max-width:922px) {
    #clone1{
        margin-left: 5%;
    }
    #clone2{
        margin-right: 5%;
    }
    .first-section{
        padding-left: 7%;
    }
    .first-section p::before{
        left: 5%;
        top: 48px;
    }
    #level1, #level2{
        margin-left: 5%;
    }

    #membership-container, #card-container, #sortCode-container{
        margin-left: 5%;
    }
    form .button-box, #footer-link, #footer-img, #paragraph{
        margin-left: 5%;
    }

    #checkbox{
        width: 55%;
    }
    footer{
        width: 85%;
    }
    #paragraph{
        width: 100%;
    }
    #paragraph p{
        font-size: 14px;
    }
    #footer-img{
        width: 70%;
    }
    #footer-img img{
        width: 100px;
    }
    footer ul{
        width: 90%;
        margin-left: 5%;
    }
    footer ul li a{
        font-weight: 0;
        font-size: 0.8em;
    }
    form .seperator{
        width: 95%;

    }
}
@media screen and (max-width:868px) {

    #checkbox{
        width: 49%;
    }

    form .button-box{
        font-size: 0.8em;

    }
    #checkbox #check-p1{
        font-size: 0.8em;

    }
    #checkbox input[type='checkbox']{
        top: 5px;
        width: 20px;
    }
}
@media screen and (max-width:823px) {

    #checkbox{
        width: 52%;
    }

    form .button-box{
        font-size: 0.8em;

    }

}
@media screen and (max-width:767px) {
    #level2 li .same-radio{
        display: block;
        width: 25px;
        height: 25px;
    }
    #level2 ul{
        flex-direction: column;
        width: 80%;
    }
    #level2 ul li{
        padding: 0;
        color: #00395d !important ;
        border: transparent;
        font-size: 18px !important;
        display: flex;
        align-items: center;
        margin-bottom: 10px ;

    }
    #level2 ul li:hover{
        background-color: #fff !important;
        border: none;
    }
    #membership-number, #card-number, #sort-code-number{
        background-color: #fff !important;
    }
    #card-number{
        margin-inline: 0%;
    }
    form input{
        width: 87%;
    }
    .three-input{
        width: 90%;
    }
    .three-input input{
        width: 20%;
    }
    #account-input input{
        width: 85%;
    }
    #checkbox{
        width: 90%;
    }
    #checkbox #check-p1{
        color: #666;
    }
    form button{
        width: 95%;
    }
}
@media screen and (max-width:670px) {
    .three-input{
        width: 95%;
    }
    .three-input input{
        width: 20%;
    }
    #footer-img{
        width: 80%;
    }
    #footer-img img{
        width: 90px;
    }

}
@media screen and (max-width:625px) {
    .three-input{
        width: 95%;
    }
    #account-input input{
        width: 88%;
    }
}
@media screen and (max-width:616px) {
    .first-section p{
        font-size: 1.9em;
        margin-top: 45px;
    }
}
@media screen and (max-width:595px) {
    .three-input{
        width: 95%;
    }
    #account-input input{
        width: 88%;
    }

    .first-section p{
        font-size: 2.5em;
        margin-top: 20px;
    }
    .first-section p::before{
        height: 60%;
        top: 30px;
    }
    #footer-img{
        width: 90%;
    }
    #footer-img img{
        width: 80px;
    }
}
@media screen and (max-width:479px) {

    #checkbox #check-p1{
        color: #00395d;

    }
    #checkbox p span{
        color: #00395d;

    }
    .first-section p{
        font-size: 1.8em;
        margin-top: 50px;
    }
    .first-section p::before{
        height: 30%;
        top: 50px;
    }
    #footer-img{
        width: 95%;
    }
    #footer-img img{
        width: 70px;
    }
}
@media screen and (max-width:461px) {

    .first-section p::before{
        height: 50%;
        top: 37px;
    }
    .first-section p{
        margin-top: 30px;
    }
}
@media screen and (max-width:416px) {

    .first-section p::before{
        height: 50%;
        top: 37px;
    }
    .first-section p{
        margin-top: 30px;
    }
    #membership-container, #card-container, #sortCode-container{
        margin-left: 3%;
    }
    #clone1,#level1, #level2, form .button-box, #footer-link, #footer-img, #paragraph{
        margin-left: 3%;
    }
    .first-section p::before{
        left: 3%;
    }
    #clone2{
        margin-right: 3%;
    }
    #foot-ul-1{
        display: none;
    }
    #foot-ul{
        display: block;
    }
    #level2 ul {
        width: 100% !important;
    }
    #checkbox #check-p1{
        margin-left: 10%;
    }
}

@media screen and (max-width:337px) {
    #footer-img1{
        display: block;
    }
    #footer-img{
        display: none;
    }
}
@media screen and (max-width:333px) {

    #level2 ul li {
        font-size: 15px !important;
    }
    #level1-txt p{
        display: block;
        line-height: 0;
    }

}